
  <%- include("header") -%>

    <div class="box1" id = "heading">
      <h1> <%= ListTitle%> </h1>
    </div>



      <div class="box">


      <%newlistitems.forEach(function(item) { %>

        <form class="" action="/delete" method="post">


          <div class="item">
          <input type="checkbox" name ="checkbox" onChange="this.form.submit()" value ="<%=item.id%>">

              <p> <%= item.name %></p>

          </div>
          <input type="hidden" name="listName" value="<%=ListTitle%>"></input>
            </form>

      <%  }); %>



          <form class="item" action="/" method="post">

            <input class = "nextadd" type="text" name="nextitem" placeholder="What Next now !!">
          <button   type="submit" class = " tooltip" value = "<%=ListTitle%>" data-tooltip = "All the best!!!" name="list" value =<%= ListTitle %>>+</button>
          </form>



      </div>

      <%- include("footer") -%>
