<%- include("header") -%>

<div class="box1" id="heading" data-tooltip="Are you Sure you want to delete!!!">

  <h1> <%= ListTitle%> </h1>

</div>



<div class="time" id="heading">
  <p id="time"></p>

</div>




<div class="box">


  <%newlistitems.forEach(function(item) { %>

  <form class="" action="/delete" method="post">


    <div class="item">


      <input type="checkbox" class=" tooltip" data-tooltip="Are you Sure you want to delete!!!" name="checkbox" onChange="this.form.submit()" value="<%=item.id%>">

      <i class="fa fa-trash"></i>
      <p> <%= item.name %></p>


    </div>
    <input type="hidden" name="listName" value="<%=ListTitle%>"></input>
  </form>

  <%  }); %>



  <form class="item" action="/" method="post">

    <input class="nextadd" type="text" name="nextitem" placeholder="What Next now !!">
    <button type="submit" class=" tooltip" value="<%=ListTitle%>" data-tooltip="All the best!!!" name="list" value=<%= ListTitle %>>+</button>
  </form>





</div>
<div class="well">
  <div id="datetimepicker2" class="input-append">
    <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>



<%- include("footer") -%>
